@import "reset.css";
@import "header.css";
@import "hero.css";
@import "specs.css";
@import "interior.css";

/*
#111111 - BG Dark Gray
#005A7B - Blue
#70AF13 - Green
*/

/*
Below code is set a container size for page content
*/

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 20px;
}
